@{
    ViewBag.Title = "ComingSoon";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";

}

<style>

    .container1 {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 75px;
        JUSTIFY-CONTENT: center;
        DISPLAY: flex;
    }
   
    
</style>
<div class="container1">

    <img src="~/Images/buses/coso4.jpg" style="width:70%;"/>
 


</div>
