@{
    ViewBag.Title = "ManagementBooking";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";

}
<link href="~/Content/CSS/Style.css" rel="stylesheet" />
<style>
    html {
        background: #f9f9f9 !important;
    }

    .myDiv {
        position: relative;
        z-index: 1;
        margin-top: 80px;
        padding-top: 10px;
    }

    .btn-hc {
        height: 38px;
        width: 45%;
        cursor: pointer !important;
        border-radius: 21px;
        background: #990000ad;
        color: white;
        border-color: #990000;
    }

    .pad {
        padding: 1% 1%;
        JUSTIFY-CONTENT: center;
        DISPLAY: flex;
    }

    .panelcolor {
        border: 1px solid #990000;
        background-color: #9900002e;
    }

    .mt-5 {
        margin-top: 5%;
    }

    .lblhistory {
        font-size: 17px;
        font-weight: bold;
        border-bottom: 1px solid #990000;
        color: #990000;
    }

    div label {
        float: left !important;
    }

    .float-left {
        float: left;
    }

    /* Style tab links */
    .tablink {
        background-color: #999999a8;
        color: white;
        /*float: left;*/
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
    }

        .tablink:hover {
            background-color: #55555591;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        /* color: white;*/
        display: none;
        padding: 80px 0px;
        height: 100%;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        /*     border-bottom: 2px groove #cccccc;*/
        border: 1px dotted #a94442;
        margin-top: 2px;
    }

    #Manage {
        /*  background-color: #a9444238;*/
        background-color: white;
    }

    #Cancel {
        /*background-color: #337ab72e;*/
        background-color: white;
    }

    .fnt-35 {
        /*  font-size: 35px;*/
        padding-right: 8px;
        /* color: darkred;*/
    }

    .lab-color {
        color: chocolate;
    }

    .in-text {
        border: 1px dotted #990000;
        /*background-color: #f7b9b9;*/
        background-color: white;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        color: black;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <title>Manage Booking</title>

</head>
<body>



    <div class="myDiv container">
        <button class="tablink" onclick="openPage('Manage', this, '#a94442')" id="defaultOpen">
            <i class="fa fa-clipboard fnt-35" aria-hidden="true">  </i>   Manage
        </button>
        <button class="tablink" onclick="openPage('Cancel', this, '#337ab7d4')">
            <i class="fa fa-window-close fnt-35" aria-hidden="true">  </i>   Cancellation
        </button>

        <div id="Manage" class="tabcontent">




            <div class="row jus-con-ce dis-flex">
                <div class="col-sm-3">
                    <label class="lab-color">Booked Date</label><br>
                    <input type="text" class="text-bx form-control  clsdatepicker in-text" placeholder="DD/MM/YYY" id="txtbookdate" autocomplete="off">
                </div>
                <div class="col-sm-3">
                    <label class="lab-color">Pass Type</label><br>

                    <select class="text-bx form-control in-text" id="ddlpasstype">
                        <option value="">-Select-</option>
                        <option value="PBSS001">Student Pass (School)</option>
                        <option value="PBSC001">Student Pass (College)</option>
                        <option value="PBSZ001">Senior Citizens pass</option>
                        <option value="PBHB001">Handicapped and Blind pas</option>
                        <option value="PBJP001">Journalists / Press Reporter pass</option>
                        <option value="PBTP001">Travel as you Please Tickets</option>
                        <option value="PBMP001">Monthly Pass</option>
                        <option value="PBFF001">Freedom fighters pass</option>
                    </select>

                </div>

                <div class="col-sm-3 m-1">
                    <label class="lab-color">Status</label><br>
                    <select class="text-bx form-control in-text" id="ddlStatus">
                        <option value="">-Select-</option>
                        <option value="P">Pending</option>
                        <option value="S">Success</option>
                        <option value="F">Failure</option>
                    </select>
                </div>
            </div>



            <div class="row pad pl jus-con-ce dis-flex mar-t-3 ">
                <div class="col-sm-3">
                    <input type="button" class="btn-hc mar-l-50" value="Get History" id="gethistory" />
                </div>
                <div class="col-sm-3">
                    <input type="button" class="btn-hc float-left mar-l-m4" value="Clear" id="ClearEntry" />
                </div>
            </div>

            <br />
            <br />


            <div id="ResultTable" class="dis-none">
                <div class="row container">
                    <div class="col-md-12">

                        <div class="panelcolor">
                            <div class="panel-heading lblhistory">
                                Booked History
                            </div>
                            <div class="panel-body">
                                <div class="wi-100 he-350" id="dvBookedHistory">

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>

        <div id="Cancel" class="tabcontent">
            <img src="~/Images/buses/ComingSoon2.gif" class="wi-40 mar-l-25" alt="Cs Img" />
        </div>




    </div>

    <script>

        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();


        // script for tab steps
        //$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        //    var href = $(e.target).attr('href');
        //    var $curr = $(".process-model  a[href='" + href + "']").parent();

        //    $('.process-model li').removeClass();

        //    $curr.addClass("active");
        //    $curr.prevAll().addClass("visited");
        //});
        // end  script for tab steps
        $(document).ready(function () {
            $(".clsdatepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                minDate: '-10y',
                maxDate: new Date(),

            });
            $("#ResultTable").hide();
        });

        $("#gethistory").click(function () {
            GetBookedHistory();
        });
        $(document).ready(function () {
            $("#ClearEntry").click(function () {

                $("#ResultTable").hide();
                $("#fromdate").val("");
                $("#todate").val("");
                $("#txtbookdate").val("");
                $("#bookdate").val("");
                $("#ddlpasstype").val("");
                $("#ddlStatus").val("");

            });
        });


        function GetBookedHistory() {
            var BookedHistoryURL = "@Url.Action("GetBookedHistory", "AfterBooking")";
            var param = {
                strTrackID: "",
                strBookedDate: $("#txtbookdate").val(),
                strPassType: $("#ddlpasstype").val(),
                strBookingStatus: $("#ddlStatus").val()
            }
            $.blockUI({
                message: '<img alt="Please Wait..." src="' + loaderimgurl + '" style="background-color:#fff;width: 4%;border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });
            $.ajax({
                type: "POST",
                url: BookedHistoryURL,
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $.unblockUI();
                    if (data.status == "01") {
                        BindBookedHistory(JSON.parse(data.Result));
                    }
                    else {
                        $("#dvBookedHistory").html('<img src="~/Images/no-record.jpg" />');
                        swal({
                            text: data.Message,
                            icon: "error",
                            button: "Close",
                            dangerMode: true,
                        });
                    }
                },
                error: function (ex) {
                    $.unblockUI();
                    console.log(ex)
                }
            });
        };

        function BindBookedHistory(data) {

            data = data.Temp;

            var columns = [];
            $.each(data[0], function (obj, val) {

                if (obj == "PI_USER_NAME") {
                    columns.push({ field: obj, caption: "USER NAME", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_BOOKING_TRACK_ID") {
                    columns.push({ field: obj, caption: "TRACK ID", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_PASS_CODE") {
                    columns.push({ field: obj, caption: "PASS CODE", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_PASS_NAME") {
                    columns.push({ field: obj, caption: "PASS NAME", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_PASS_NUMBER") {
                    columns.push({ field: obj, caption: "PASS NUMBER", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_PASS_STATUS") {
                    columns.push({ field: obj, caption: "STATUS", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_EFFECTIVE_FROM") {
                    columns.push({ field: obj, caption: "EFFECTIVE FROM", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_EFFECTIVE_TO") {
                    columns.push({ field: obj, caption: "EFFECTIVE TO", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_CURRENCY") {
                    columns.push({ field: obj, caption: "CURRENCY", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_AMOUNT") {
                    columns.push({ field: obj, caption: "AMOUNT", size: "90px", resizable: true, sortable: true, attr: "align=right" });
                }
                else if (obj == "PI_REMARK") {
                    columns.push({ field: obj, caption: "REMARK", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_BOOKED_DATE") {
                    columns.push({ field: obj, caption: "BOOKED DATE", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_UPDATED_DATE") {
                    columns.push({ field: obj, caption: "UPDATED DATE", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_USER_CONTACT_NO") {
                    columns.push({ field: obj, caption: "CONTACT NO", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_USER_MAIL") {
                    columns.push({ field: obj, caption: "Mail ID", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }
                else if (obj == "PI_USER_ADHAAR_NO") {
                    columns.push({ field: obj, caption: "ADHAAR NO", size: "90px", resizable: true, sortable: true, attr: "align=center" });
                }

            });
            var count = 0;
            var count = 0;
            for (var i = 0; i < data.length; i++) {
                var object1 = {
                    "recid": count++
                }
                $.extend(data[i], object1);
            }
            //columns.push({ field: "PI_USER_MAIL", caption: "User Name", size: "90px", resizable: true, sortable: true, attr: "align=right" });
            $("#dvBookedHistory").w2destroy('History');
            $("#dvBookedHistory").css("height", "400px");
            $("#dvBookedHistory").w2grid({
                name: 'History',
                recordHeight: 30,
                show: { footer: true, toolbar: false },
                columns: columns,
                records: data,
            });

            $("#ResultTable").show();

        }
    </script>
</body>
</html>
