
.txt:hover {
    text-decoration: underline;
    color: #0636f3;
}

h4 {
    font-size: 15px;
}

.clr {
    white-space: nowrap;
}

.mbt {
    margin-bottom: 15px;
}

.mg-rt-10 {margin-right:10px;}

.space {
    text-align: center;
    font-size: 14px;
}

.back_color {
    background-color: #ffffff;
}

.top_cls {
    top: -4px;
    left: 6px;
}

.lht {
    left: -19px;
}

.rht {
    right: -19px;
}

.clsBRButtonGetPsgr {
    width: 150px;
    border: 1px solid steelblue;
    border-radius: 5px;
    color: #fff;
    text-decoration: initial;
    float: right;
    margin-bottom: 10px;
    transition: ease-out 0.5s;
    background-color: #36a2ea;
}

.columns .ui-table tbody tr.ui-table-rows-even {
    background: #bcdef6 !important;
}

.columns .ui-table tbody tr.ui-table-rows-odd {
    background: #bcdef6 !important;
}

h5 {
    font-weight: 600;
    font-size: 16px;
}

.dvviewContainer {
    margin-top: 25px;
    width: 100%;
    min-height: 500px;
    padding:1% 4%;
    
}

.spnText {
    font-size: .9em;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 5px 5px 0 0;
}

.spnInnerText {
    font-size: .9em;
    font-weight: 600;

    text-transform: capitalize;
}

#txtRemarks {
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.txtbox {
    font-size: 12px;
    font-weight: 600;
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    padding: 5px 4px;
}

.tabheaderflg {
    margin: 0;
    padding: .3rem .7rem .4rem;
    color: #333;
    cursor: pointer;
    height:auto;
}

.tabheaderpax {
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.tpl-tabs-cont {
    min-height: 50px;
}

.padcls {
    padding-top: 8px;
}

hr {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #009900;
}

.main-title {
    position: relative;
    width: 100%;
    text-align: center;
    background-color:#00458e;
    padding:10px 10px;
    font-weight:500;
}

.bgMDnewdv {
    border: 1px solid #000;
    background: #fff;
}

.modal-text {
    border-bottom: 1px dashed #ddd;
    padding: 0 20px 120px 20px;
}

.rowtop {
    padding-top: 2%;
}

.modal-buttons {
    text-align: left;
}

.btn-success {
    color: #fff;
    background-color: #009900;
    border-color: #009900;
}

.fr {
    color: #fff;
}

.erricon {
    font-size: 22px;
    margin-right: 10px;
    color: #B30505;
}

.errborder {
    padding: 10px 15px;
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: left;
    margin-top: 15px;
    color: #721c24;
    font-size: 15px;
    letter-spacing: .5px;
}

.clsbkpage .errborder
 {
    background: none;
    border: none;
    float: left;
    width: 100%;
    text-align: center;
    color: #B30505;
    font-weight: 500;
    font-size: 18px;
}

#Paxdetails {
    padding-left: 20%;
    width: 80%;
}

#Bookingdetails {
    padding-left: 10%;
    width: 90%;
}

.ui-table-sortable {
    font-weight: bold;
    background: #3da4e9 !important;
    color: #fff;
    text-align: center;
}

.columns .ui-table tbody tr td {
    text-align: center;
    padding: 5px;
}

.backtrans {
    background-color: transparent !important;
}

.bg-ash {
    background: #ececec;
}

.Tkbook {
    background: #ffe11b;
    padding: 10px 10px 12px 10px;
    color: #222;
    font-size: 12px;
    margin-left: 14px;
    font-weight: bold;
}

.col-pad {
    padding-left: 5px;
    padding-right: 0px;
}

.c-button.b-50 {
    height: 30px;
    padding: 1px;
    padding-left: 0px;
}

.popover {
    max-width: 22%;
}

.roundTripCls {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    background-color: #ff6600;
    color: #fff !important;
    font-size: 20px;
    border-radius: 4px;
    right: -22px;
    margin-top: 19px;
    z-index: 1;
    box-shadow: 0px 0px 5px 5px #eee;
}


#SSR_Popup {
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    display: none;
    padding: 20px;
    width: 548px;
    font-size: 12px;
    margin-top: 50px;
    top: 91.5px;
}

#SSR_Popup Select {
    width: 98%;
    padding: 5px;
    font-size: 12px;
}

/*SSR*/
.TxORbutton {
    border: 1px solid #3879d9;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    min-width: 50px;
    width: auto;
    padding: 5px;
    border-radius: 4px;
    background-color: #3879d9;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3879d9), color-stop(90%, #3879d9));
    background-image: -webkit-linear-gradient(top, #3879d9 20%, #3879d9 90%);
    background-image: -moz-linear-gradient(top, #3879d9 20%, #3879d9 90%);
    background-image: -o-linear-gradient(top, #3879d9 20%, #3879d9 90%);
    background-image: linear-gradient(#3879d9 20%, #3879d9 90%);
    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

#dvpaxbottons {
    text-align: right;
    margin-bottom: 2%;
    white-space: nowrap;
    padding-right: 2%;
}

#iprinticon {
    float: right;
    font-size: 25px;
    border: 1px solid;
    border-radius: 50%;
    padding: 2px 0px 3px 4px;
    cursor: pointer;
}

.borderCls {
    border-radius: 50%;
}

/*text icon udk*/
.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

@media (max-width :500px) {
    .dvviewContainer {
        padding: 2%;
    }

    .fltdet {
        padding-bottom: 10px !important;
    }

    .clstop {
        top: -10px;
        font-size: 11px !important;
    }

    .lfmob {
        left: -7px;
    }

    .clsbkpage .right-sidebar {
        padding-top: 10px;
    }

    .topcls.medex .arsze {
        font-size: 12px !important;
        transform: rotate(90deg);
    }

    .space.mobbar {
        display: none;
    }

    .econamy {
        font-size: 11px;
    }

    .mobbar {
        margin-top: 1px !important;
        left: 15px !important;
    }

    .clsbkpage .table-responsive {
        margin-bottom: 0px !important;
    }

    .clsbkpage .help-contact {
        padding: 3%;
    }

    .clsbkpage .help-contact p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .clsbkpage .help-contact .help-phone {
        margin-bottom: 10px;
    }

    .clsbkpage #GetReqdetails {
        margin-top: 10px;
    }

    .clsbkpage .clsPadd2Table {
        font-size: 12px;
    }

    .clsbkpage .spnQue, .clsbkpage .acc-body {
        font-size: 12px;
    }

    .clsbkpage .spnAns {
        font-size: 11px;
    }

    .clsbkpage .clspadding {
        font-size: 12px;
    }

    #divMeals {
        font-size: 12px;
    }

    h6 {
        font-size: 11px;
    }

    .depdate {
        left: -44px !important;
        top: 4px !important;
    }

    .mediadate {
        left: 39px !important;
        top: 5px !important;
    }

    .iconcls {
        top: 5px;
        right: 0px;
        cursor: pointer;
        position: absolute;
    }

    .imgcls {
        text-align: center;
    }

    .arrname {
        font-size: 16px !important;
    }

    .space {
        font-size: 14px !important;
    }

    .orginname {
        top: 13px !important;
        left: -17px !important;
    }

    .desname {
        top: 13px !important;
        left: 4px !important;
    }

    .arrtime {
        top: 11px !important;
        left: 22px !important;
    }

    .mbt {
        width: 100%;
    }

    .fonttime {
        font-size: 12px !important;
    }

    #arr_0 {
        font-size: 1.6rem !important;
    }

    .tt {
        font-size: 12px !important;
    }

    .borderCls {
        font-size: 13px;
    }

    .adtsectoronwrd, .chdsectoronwrd {
        font-size: 12px;
    }

    .baggage {
        font-size: 11px;
    }

    .mobspace {
        left: -28px;
        top: -14px !important;
    }

    #bookstop_0 {
        font-size: 11px !important;
    }

    #bookstop_1 {
        font-size: 11px !important;
    }

    .mst {
        left: -28px;
        font-size: 11px !important;
        top: -10px;
        white-space: nowrap;
    }

    .chbtn {
        padding-bottom: 6px;
        left: -30px;
    }

    .revtop {
        margin-top: 0px !important;
        padding:0 !important;
    }
}

.clsbkpage .hotel-item2 {
    border:1px solid #eee;
    background: #fff;
}

.bookcolor {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0 4px 0 !important;
    text-align: left;
    text-transform: capitalize !important;
}

.col0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.col10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.col15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.row0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.row5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.row10 {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.row15 {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

#viewDetail {
    background: #ffffff;
    display: none;
}

#msgemail, #msgcont, #msginvalcont {
    font-size: 11px;
}

.validcls {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-color: #d50000 !important;
}

.errmsg {
    color: #d50000;
    display: block !important;
}

.mhead {
    margin-top: 2px !important;
}

.imgcls {
    margin-top: -3px;
}

.stopcls {
    left: -42px;
    color: #3362a6;
}

.econamy {
    left: -12px;
}

.clstop {
    margin-top: 5px;
}

.bookval {
    margin-left: -6px;
    text-align: center;
    margin-top: 6px !important;
}

.heading {
    background: #ffffff !important;
}

.medex .icon {
    color: #541ab8;
}

.dephead {
    margin-top: -11px;
}

.mst {
    font-size: 14px;
    white-space: nowrap;
}

.detail {
    font-size: 15px !important;
    background-color: #ffffff !important;
    text-decoration: none !important;
}

.desname {
    font-size: 11px;
}

#dvMeetingDetDatas h6 {
    text-transform: none;
}

@media (max-width :950px) {
    .lht {
        left: 0px !important;
    }

    .mlbutton {
        margin-left: -7px;
    }

    .acc-body {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }

    .rht {
        right: 0px !important;
        margin-top: 5px !important;
    }

    .mbt {
        margin-top: 5px !important;
        margin-bottom: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .col-lg-2 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .col-lg-2.form-group {
        padding: 0px 15px !important;
    }

    .top_cls {
        top: 4px !important;
        left: -14px !important;
    }
}

.farecls {
    margin-top: 19px;
    margin-left: 20px;
}

#Changeflight_1 {
    display: none !important;
}

.fntsze {
    font-weight: 600;
}

.ftsze {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
}

.timetop {
    top: 8px !important;
}

#flightdetail_1 {
    display: none;
}

#divbox {
    display: none;
}

.fnt {
    font-size: 15px !important;
}

.changewidth {
    width: 17.33% !important;
}

.iconcls {
    top: 5px;
    right: 0px;
    cursor: pointer;
    position: absolute;
}

#titlemsg {
    display: none;
    font-size: 10px;
}

#firstmsg {
    display: none;
    font-size: 10px;
}

#secondmsg {
    display: none;
    font-size: 10px;
}

#gendname {
    display: none;
    font-size: 10px;
}

.bookrefund {
    margin-left: -15px;
    white-space: nowrap;
    border: 1px solid;
    background: #c12d1a;
    color: white;
    padding: 1px;
    border-radius: 9px;
    font-size: 13px !important;
}

.booknonrefund {
    margin-left: -15px;
    white-space: nowrap;
    border: 1px solid;
    background: #c12d1a;
    color: white;
    padding: 1px;
    border-radius: 9px;
    font-size: 13px !important;
}

body {
    background: #ffffff;
}

.hotel-loc {
    white-space: normal;
}

#Sort_filter {
    width: 100%;
    padding-right: 7px;
    padding-left: 6px;
}

span.select:after, span.select.rotatecls {
    transform: rotate(180deg);
}

.fntwt {
    font-weight: 600;
}

.datename {
    font-size: 14px;
    color: #1e1d1d !important;
}

.dtlinfo {
    left: -18px;
    z-index: 2;
    top: 42px;
}

#dtlinfo_1 {
    left: -18px;
    z-index: 2;
    top: 42px;
}

#bookstop_0 {
    white-space: nowrap;
}

.orgdescls {
    font-weight: 600 !important;
}

.ribbon {
    position: absolute;
    top: -1px;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: transparent;
}

.ribbon-clip .ribbon-inner:after {
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 0;
    height: 0;
    content: '';
    border: 7px solid transparent;
    border-top-color: #ffe11b;
    border-right-color: #ffe11b;
}

ribbon-clip .ribbon-inner {
    padding-left: 23px;
    border-radius: 0 5px 5px 0;
}

.ribbon-inner {
    position: absolute;
    left: -30px;
    display: inline-block;
    height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 30px;
    color: #222;
    white-space: nowrap;
    background-color: #ffe11b;
}

#arroright_0 {
    top: 6px;
    left: 8px;
}

#arroright_1 {
    top: 6px;
    left: 20px;
}

.detcls {
    margin-top: 5px;
    margin-bottom: -8px;
}

#arrcon_0 {
    top: 6px;
    left: 8px;
}

#flagcls_0 {
    top: 6px;
    left: 5px;
}

#flagcls_1 {
    top: 6px;
    left: 5px;
}

#arrowcls {
    top: 0px;
    left: 5px;
}


.decls {
    margin-top: 15px;
}

#decls_0 {
    margin-top: 15px;
}

#decls_1 {
    margin-top: 15px;
}

#subdiv_1 .ribbon-inner {
    left: -23px !important;
}

/*timelinecss*/
.list-steps-sec {
    position: relative;
    background: #ccc;
    height: 4px;
    margin-left: 8px;
    width: 98%;
}

.list-steps_1 {
    position: absolute;
    top: -30px;
    left: 0;
    text-align: left;
    margin-left: -15px;
}

.list-steps_3 {
    position: absolute;
    top: -30px;
    right: -16px;
    text-align: right;
}

.list-steps_2 {
    position: absolute;
    left: 45%;
    margin-left: -80px;
    top: -30px;
    text-align: center;
}

.circle-dots-lft {
    position: absolute;
    left: 0px;
    top: -6px;
    height: 15px;
    width: 15px;
    background: #eee;
    border-radius: 50%;
}

.circle-dots-rgt {
    position: absolute;
    right: 0px;
    top: -6px;
    height: 15px;
    width: 15px;
    background: #eeeeee;
    border-radius: 50%;
}

.list-steps_1 a, .list-steps_2 a .list-steps_3 a {
    width: 100%;
    float: left;
}

.timecng {
    text-align: center;
    width: 100%;
    float: left;
    color: #333;
    font-size: 12px;
    font-weight: 600;
}

.timecls {
    margin-bottom: 4%;
    margin-top: 3%;
    padding-right: 3%;
    padding-left: 2%;
}
/*end*/

.font_11 {
    font-size: 11px;
}

.newdesign {
    margin:0px;
    font-size: 16px;
    font-weight: 600;
    display: initial;
    position: relative;
    color: #00458e;
}

.sessionexpire {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    left: 0;
    padding: 8px;
    font-size: 14px;
    background: #00458e !important;
    color: #fff;
}

.Line-3 {
  width: 3px;
  height: 91px;
  border: solid 1px var(--warm-grey);
}

.datedesign {
    position: relative;
    top: -2px;
    left: 0px;
    color: #333;
}

.border {
    border-bottom: 1px dashed #eeeeee;
}

.fa-plane {
    font-size: 20px;
    border-radius: 50%;
    padding: 11px 14px;
    background-color: #fff;
    cursor: pointer;
}

.fa-file-text {
    font-size: 20px;
    border-radius: 50%;
    padding: 9px 11px;
    background-color: #fff;
    cursor: pointer;
}

.fa-credit-card-alt {
    font-size: 18px;
    border-radius: 50%;
    padding: 11px 9px;
    background-color: #fff;
    cursor: pointer;
}

#spngrossamds {
    font-size: 15px;
    font-weight: 600;
}

.ordesign {
    border-right: 2px solid #ccc;
    position: relative;
    padding-top: 35%;
    left: -12px;
}

.or1design {
    color: black;
    padding-top: -42%;
    position: relative;
    top: -107px;
    background: #eee;
    border: 2px solid #ccc;
    border-radius: 50%;
    padding: 9px 11px;
    left: 12px;
}

.pblmoccur {
    font-size: 13px;
    white-space: nowrap;
    margin-top: 14px;
    position: relative;
    left: 20px;
}

.danger {
    background-color: #ec7474;
    color: #fff;
}

#minutes {
    font-weight: 600;   
    padding: 3px;
    color: #FFF;   
}

#seconds {
    font-weight: 600;   
    padding: 3px;
    color: #333;
    color: #FFF;
}

.clocksym {
    display: block;
    font-size: 37px;
    color: gray;
}

.alncenter {
    text-align: center;
}

.baggage {
    white-space: nowrap;
    top: -20px;
    left: 23px;
}

.conflight {
    position: absolute;
    color: black;
    left: 50%;
    top: -15px;
    z-index: 1;
    border: 1px solid #eee;
    padding: 5px 10px;
    background: #f8f9fa;
    color: #999;
    border-radius: 20px;
    margin-left: -94px;
}

#handsymbol1 {
    animation-name: move;
}

@keyframes move {
    0% {
        margin-left: 13px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale( .75 );
    }

    20% {
        transform: scale( 1 );
    }

    40% {
        transform: scale( .75 );
    }

    60% {
        transform: scale( 1 );
    }

    80% {
        transform: scale( .75 );
    }

    100% {
        transform: scale( .75 );
    }
}

.headercolor {
    padding: 6px 19px 4px 22px;
    background: #ffe11b;
}

.whitenow {
    white-space: nowrap;
    margin-left: 5px;
}
/*#region by Saranraj */

.allFares {
    color: #FFFFFF;
}

.allFares .crcy {
    color: #f00;
}

.clsshow {
    border-top: 1px dashed #ddd;
}

.clstotamtdv {
    line-height: 35px;
}

#total_tax {
    cursor: pointer;
}

.note-dsgn {
    width: 100% !important;   
    padding: 10px;
    color: #2874f0;
    font-size: 12px;
}

.fontsizeclr {
    font-size: 20px;
    color: #333 !important;
}

#basefare {
    cursor: pointer;
}

.bggray {
    background: #f5f5f5;
}

.termsndcond {
    margin-top: -22px;
    margin-left: 22px;
    font-size: 13px;
    cursor: pointer;
}
/*#endregion */

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #2874f0;
    font-size: 6px;
    margin: 25px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.PASSPORTDatepickerint {
    color: #fff !important;
}

.termscond {
    color: #2874f0;
    text-decoration: underline;
    cursor: pointer;
}

.termscond:hover {
    color:#2874f0;
    text-decoration:none;
}

.bgwhite {
    background: #fff !important;
}

.special:hover {
    background: rgba(80, 24, 175, 0.05);
}

.special:hover span {
    color: #541ab8;
}

.special {
    color: rgba(0, 0, 0, 0.6);
    float: left;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.mealsdetail {
    width: 100%;
    cursor: pointer;
    float: left;
    padding: 10px 0;
    color:  rgba(0, 0, 0, 0.6);
    font-weight:600;
}

.actived {
    border-bottom: 2px solid #00458e;
}

.special.actived span  {
   color:#00458e;
}

.special:last-child {
    border-right: none;
}
/*#region kalai - 28-9-17 */

.row.review-tit {
    float: left;
    width: 100%;
}

.hotel-item2.hotel-item input {
    padding: 10px 5px !important;
}

.adtclsMEAls, .chdclsMEAlsOnwrd, .adtclsMEAlsret, .ChdclsMEAlsreturn {
    padding: 3px 5px !important;
    height: 35px;
    border-radius: 2px;
}

.notavail i.fa.fa-times {
    background: #333;
    padding: 2px 3px;
}

span.notavail {
    width: 100%;
    float: left;
    padding: 10px 10px;
    border-radius: 3px;
    text-align: center;
}

.colorgray {
    background: #f5f5f5;
}

.contbtn {
    padding: 10px 10px !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    background: #243982;
}

.comdsn {
    padding: 20px 0;
    border:1px white dashed;
}

.conguest {
    padding: 10px 0;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
}

.ordesi {
    position: relative;
    left: 0px;
    background: white;
    color: #333;
    border: 1px solid;
    padding: 10px 4px 10px 4px;
    padding: 17px;
    border-radius: 50%;
    line-height: 0px;
    text-indent: -6px;
    margin-bottom: 5px;
    width: 38px;
}

.contbtn :hover {
    border: none !important;
}
/*#endregion */

@media (max-width:500px) {

    .first_span {
        width: 85px !important;
    }

    .col-lg-7.col-sm-6.col-md-6.col-xs-6 {
        width: 40% !important;
    }

    .clsMarginTop10.resfare .c-button.b-30 {
        margin-top: -3px;
    }

    .hotel-loc {
        font-size: 13px;
    }

    .row.msname {
        display: none;
    }

    .row.faredet {
        display: none;
    }

    .timecls {
        margin-bottom: 0 !important;
        margin-top: 0% !important;
    }

    .list-steps-sec {
        background: none !important;
        height: 0 !important;
    }

    #list-detnamRI {
        text-align: right !important;
        margin-left: 0 !important;
    }

    .list-steps_1 {
        position: absolute;
        top: -10px !important;
        right: 0 !important;
        left: inherit;
    }

    .comdsn {
        border-right: none !important;
        text-align: left;
        background: #454545;
        box-shadow: 0px -1px 3px 1px #ccc;
        font-size: 13px;
        padding: 6px 10px !important;
    }

    span.mobamt {
        display: none;
    }

    button#continuebook {
        padding: 5px 50px 5px 50px !important;
        text-indent: -27px !important;
    }

    button#loginbook {
        font-size: 11px;
        text-indent: -2px;
        width: 64px !important;
        margin-left: 0px !important;
    }

    .farcrncyChang_sele.totspngrossamds.cr_INR {
        font-size: 18px !important;
        padding-top: 6px;
        float: right;
        text-align: right;
    }

    .hotel-item.hotelscroll.itinerarybookpagedet {
        width: 96%;
    }

    .taxbreak {
        margin-top: 8px;
    }

    .form-control.clsFFNAirline {
        padding: 6px 0 !important;
    }

    .hidetxt:hover {
        text-decoration: underline;
    }

    .sessionexpire {
        padding: 0px !important;
    }

    #minutes {
        padding: 1px 3px !important;
        border: none;
    }

    #seconds {
        padding: 1px 3px !important;
        border: none;
    }

    .highlight {
        margin-bottom: 15px !important;
    }

    .contbtn {
        padding: 5px 10px !important;
        margin-top: 5px;
    }

    .ordesi {
        top: 10px !important;
        left: -4px !important;
        width: 15px !important;
        text-indent: -7px;
        background: #fff;
        font-size: 12px;
        padding: 9px !important;
    }

    #spngrossamds {
        font-size: 20px;
    }

    .adtclsMEAls, .chdclsMEAlsOnwrd, .adtclsMEAlsret {
        height: 30px;
    }

    .clspstnumeric.clsffnnum {
        padding: 5px 5px !important;
    }

    .bookval .Green, .bookval .Red {
        margin-left: -15px;
    }
}

@media only screen and (min-width:501px) and (max-width:767px) {

    .first_span {
        width: 120px !important;
    }

    .col-lg-7.col-xs-8.col-md-6.col-sm-6.col10 {
        width: 50% !important;
    }

    .comdsn {
        border-right: none !important;
        text-align: left;
        background: #454545;
        box-shadow: 0px -1px 3px 1px #ccc;
        font-size: 13px;
        padding: 6px 10px !important;
    }

    .farcrncyChang_sele.totspngrossamds.cr_INR {
        font-size: 18px !important;
        padding-top: 6px;
        float: right;
        text-align: right;
    }

    .amountxs {
        margin-bottom: 60px;
    }

    .hidetxt:hover {
        text-decoration: underline;
    }

    .sessionexpire {
        padding: 0px !important;
    }

    #minutes {
        padding: 1px 3px !important;
        border: none;
    }

    #seconds {
        padding: 1px 3px !important;
        border: none;
    }

    .highlight {
        margin-bottom: 15px !important;
    }

    .contbtn {
        padding: 5px 10px !important;
        margin-top: 5px;
    }

    .ordesi {
        top: 10px !important;
        left: -4px !important;
        padding: 11px !important;
        width: 25px !important;
    }

    .newdesign {
        font-size: 14px;
    }

    #spngrossamds {
        font-size: 20px;
    }

    .revtop {
        margin-top: 0px !important;
    }

    .timecls {
        margin-bottom: 0 !important;
        margin-top: 0% !important;
    }

    .list-steps-sec {
        background: none !important;
        height: 0 !important;
    }

    #list-detnamRI {
        text-align: right !important;
        margin-left: 0 !important;
    }

    .list-steps_1 {
        position: absolute;
        top: -10px !important;
        right: 0 !important;
        left: inherit;
    }

    span.mobamt {
        display: none;
    }

    .bookval .Green, .bookval .Red {
        margin-left: -15px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .newdesign {
        font-size: 16px;
    }

    #spngrossamds {
        font-size: 20px;
    }

    .Slformcontrolnew {
        width: 100% !important;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {

    .newdesign {
        font-size: 14px;
    }

    #spngrossamds {
        font-size: 20px;
    }

    .Slformcontrolnew {
        width: 100% !important;
    }
}

@media only screen and (min-width:1201px) and (max-width:1600px) {
    .infcrry {
        width: 12%;
        padding: 0px !important;
    }
}

@media (min-width :769px) {
    .reviewdets ul li {
        width: 20%;
        float:left;
    }

    .reviewdets ul li a {
        width:100%;
    }
}

@media (max-width:767px) {
    .review-tit {
        float: left;
        overflow: hidden;
        padding: 0 2%;
        width: 100%;
    }

    .reviewdets {
        overflow: auto;
        width: 100%;
    }

    .reviewdets ul {
        float: left;
        list-style-type: none;
        position: relative;
        width:550px;
        overflow:hidden;
        border-bottom: 1px solid #ddd;
    }

    .reviewdets ul li a {
        padding:0px 15px;
    }

    .reviewdets .special {
        border-bottom:none;
    }
}

.Slformcontrolnew {
    height: 40px !important;
    padding: 9px 2px !important;
}

.MeetingDetDatas .Slformcontrolnew {
    height: 30px !important;
    padding: 0 !important;
}

#frm_passengerdetails .has-feedback input.form-control {
    height: 40px !important;
}

.inlineerrormsg {
    color: #d50000;
    font-size: 11px;
    white-space: nowrap;
    text-transform:capitalize;
}

.blockUI.blockMsg.blockPage {
    width: 300px;
    left: 62% !important;
    margin-left: -150px !important;
}

.headheight {
    height:110px !important;
}

.traveltypespan {
    left:5px !important;
}

.Partially-Refundable, .Non-Refundable, .Green, .Red {
    width: 120px;
    height: 20px;
    border-radius: 10px;   
    padding: 2px 5px;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    float: left;
    margin-top: 5px;
}

.Partially-Refundable, .Green {
    border: solid 1px #56bd5b;
    background-color: #56bd5b;
}

.Non-Refundable, .Red {
  border: solid 1px #e34c4c;
  background-color: #e34c4c;
}

.More-Detail {
  width: 65px;
  height: 20px;  
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ff9012;
}

.More-Detail:hover {
    text-decoration:underline;
    cursor:pointer;
}

.date-airclass {
    height: 20px; 
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.86);
}

.book-title-bold {
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color:#000;
}

.Rectangle-10 {
    width: 140px;
    height: 153px;
    border-radius: 4px;
    border: solid 0.5px #cccbcb;
    background-color: #f6f6f6;
    margin: 10px 14px;
    color: #333;
    text-align: center;
}

.Rectangle-10.active {
    color:rgba(255, 255, 255, 0.87) !important;
    background-color: #5014b6;
    border:#5014b6;
}

.select-container {
    padding:1% 4%;
}

#dvMeetingDetDatas .padcls span {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

.valueper {position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    border-top: 1px solid rgba(193, 190, 190, 0.38);
    padding: 10px 0;}

#grpchkpopchkMonthlyAccSumm {
    height:50px;
    background: #fff;
    padding:15px;
    border:1px solid #f1f1f1;
}

#dvMeetingDetDatas .checkbox-group1 label span{
    left: 15px;
}

#dvMeetingDetDatas .valHighlight .checkbox-group1 label .check {
    top: 18px;
    left: 22px !important;
}

#dvMeetingDetDatas .wheelchair .checkbox-group1 label .check {
    top: 4px;
    left: 22px !important;
}

#dvMeetingDetDatas .wheelchair .checkbox-group1 {
    margin-left: 0px;
}

.ltclr {font-size: 10px !important;
    color: #b3b1b1;
    font-weight: normal !important;
}

.valueper em {
    font-weight: normal;
    font-style :normal;
    padding-left: 5px;
    font-size :10px;
}

.amountxs h6 {
    margin-bottom: 0px;
}

.special.actived:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #541ab8;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
}

.rectangle {
    width: 181px;
    height: 98px;
    background-color: #bebebe;
    margin:10px auto;
    position:relative;
}

.valHighlight .checkbox-group1 label .box {
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.valHighlight input[type=checkbox]:checked ~ label .box {
    background:#5014b6 !important;
}

.valHighlight .checkbox-group1 label .check {
    width: 5px;
    height: 11px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
}

#TermsConmsg {
    margin-top: 30px;
    float: left;
    background: #e34c4c;
    color: rgba(255, 255, 255, 0.87);
    padding: 6px 10px;
    font-size: 13px;
    text-transform: inherit;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 1px #ccc;
    margin-left: -10px;
    position:relative;
}

#TermsConmsg:after {
    border: 10px solid;
    border-color: transparent transparent #e34c4c transparent;
    content: '';
    top: -20px;
    left: 10px;
    position: absolute;
}

.fetchloader{
  width: 52px;
  height: 14px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.fetchfare .fetchtit {
    font-size: 13px;
    color: #7e7e7e;
    float: left;
    margin-right: 5px;
}

#loader-4 span{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #e34c4c; 
  opacity: 0;
  margin-left:3px;
}

#loader-4 span:nth-child(1){
  animation: opacitychange 1s ease-in-out infinite;
}

#loader-4 span:nth-child(2){
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-4 span:nth-child(3){
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

.fetch-close i, .fetch-right i {    
    border-radius: 50%;
    font-size: 12px;
    padding: 4px 4px;
    color: #fff;
    cursor: pointer;
}

.fetch-close i {
    background: #ff686b;
}

.fetch-right i {
    background: #56bd5b;
}

.seat-overlay {
    background-color: rgba(0,0,0,0.7);
    bottom: 0;
    clear: both;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
}

#Div_map {
    position: fixed;
    right: -1px;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.wheelchair button {
    background: rgba(80, 24, 175, 0.05);
    color: rgb(84, 26, 184);
    border: 1px solid rgb(84, 26, 184);
    border-radius: 2px;
    padding: 8px 0;
}

.wheelchair button.activeadd {
    background:rgb(84, 26, 184);
    color: #fff;
}

.wheelchair button i {
    left:5px;
}

.wheelchair i.las.la-check {
    background: #56bd5b;
    border-radius: 50%;
    padding: 4px 4px;
}

#promocodesec input {
    color: #333 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-weight: 500;
    letter-spacing: 0px;
    padding: 8px 0 !important;
}

.promocode .applysec {
    top: 8px;
    right: 15px;
}

.promocode button {    
    background: transparent;
    color: #1186ff;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #1186ff;
    padding: 2px 10px;
    border-radius: 2px;
}

.clrblu {
    color: #1186ff;
}

.promocode button:hover {
    color: #fff;
    background-image: linear-gradient(45deg,#8744f7,#5014b6);
    border: 1px solid #5014b6;
    transition: all 0.4s ease 0s;
}

.promocontnt {
    display: inline-block;
    border: 1px dashed #e34c4c;
    padding: 1px 10px;
    color: #000;
    font-size: 11px;
    font-weight: 600;
    border-radius: 2px;
    background: #fdf1f1;
}

.applied {
    padding: 3px 5px;
    color: #56bd5b;
}

.appliedsec {
    right: 15px;
    top: 10px;
}

.removefreq {
    border: 1px solid rgba(251, 0, 0, 0.22);
    background: rgba(251, 0, 0, 0.22);
    padding: 2px 2px;
    border-radius: 50%;
    color: #f00;
}

#promocodesec .searchviewsec [type="radio"]:checked,
#promocodesec .searchviewsec [type="radio"]:not(:checked) {position: absolute;left: -9999px;}
#promocodesec .searchviewsec [type="radio"]:checked + label,
#promocodesec .searchviewsec [type="radio"]:not(:checked) + label {position: relative;padding-left: 30px;cursor: pointer;line-height: 20px;display: inline-block;color: #666;text-align:left;float:left;width:auto;}
#promocodesec .searchviewsec [type="radio"]:checked + label:before,
#promocodesec .searchviewsec [type="radio"]:not(:checked) + label:before {content: '';position: absolute;left: 0;top: 0;width: 20px;height: 20px;border: 2px solid rgba(0, 0, 0, 0.28);border-radius: 100%;background: #fff;}
#promocodesec .searchviewsec label:after {content: '';width: 8px;height: 8px;background: #e6e6e6;position: absolute;top: 6px;left: 6px;border-radius: 100%;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
#promocodesec .searchviewsec [type="radio"] label:after {opacity: 0;-webkit-transform: scale(1);transform: scale(1);}
#promocodesec .searchviewsec [type="radio"]:not(:checked) + label:after {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
#promocodesec .searchviewsec [type="radio"]:checked + label:after {opacity: 1;-webkit-transform: scale(1);transform: scale(1);background: #ff9012;}