.showselectaddtocart:hover {background-color: #d6a362;}
.tg-header {}
.tabs-wrap-style, .clsModifydv, .loading .object {border-top: 3px solid #fff !important;}
.loading .object {border-left: 5px solid #00458e;}
.sliderBottm {background: #fff !important;}
.stickyminheader .classsubstickyminheader {background-color: #fff !important;}
.stickyminheader .classsubstickyminheader.udk-buy-my-tickets {background-color: #00458e !important;}
.ui.button.leftcurv a:hover, .ui.primary.button.rightcurv a:hover, a.eticket:hover, a.recent_sear:hover, li.support a:hover {text-decoration: underline;}
.fa.fa-angle-double-down.fa-5x {color: #f4b350 !important;}
tab-nav-wrapper .nav-tab .nav-tab-item, .simple-tab.type-2 .nav-tab-item.active {background: #00458e !important}
.ui-slider .ui-slider-handle {background: #fff !important;}
.next_day {background: #00458e !important;}
.showselectaddtocart.availbutton.resbtn {background: #f4b350;border: #f4b350;}
.spnText.hTitle {background: #fff;color: #3e2714 ;padding: 10px 10px;margin-bottom:0px;border-bottom:1px solid #f1f1f1;}
.tg-btn {background: #f4b350 !important;border: #f4b350 !important;}
.clrthemeorng {color:#f4b350;}
.udk-font-12 {margin-bottom: 0px;line-height: 0px;font-size: 13px;padding-top: 10px;color: #00458e;}
.click-arrow, .goog-te-gadget-simple .goog-te-menu-value span,  a.eticket, a.eticket:hover, a.recent_sear:hover,
.click-arrow span {color: #242424;}
#dvstickyminheader .ui.primary.button.rightcurv a, #dvstickyminheader .ui.button.leftcurv a, #dvstickyminheader .ui.primary.button.rightcurv a:hover, #dvstickyminheader .ui.button.leftcurv a:hover {color: #8a8989;}
#dvstickyminheader .ui.button.leftcurv a, #dvstickyminheader .ui.primary.button.rightcurv a {color: #333;font-weight: 600;font-size: 13px;margin-top: 3px;float: left;}
.goog-te-gadget-simple, a.recent_sear:hover, a.eticket:hover, a.recent_sear:hover {border: 1px solid #00458e !important;}
.udk-sorting-header, .progress-bar-success, .clsModifysearch:hover, .clspacktheem::after, #scrolltop:hover, #scrolltop {background: #00458e;}
.sizecls {border-bottom: 2px dotted #00458e !important;}
.tg-logo.clsdesklogo, .udk-language-show {display: block;}
.tg-logo.clsdesklogo a img {}
.udk-language-show-left, .udk-currency-show, .udk-buy-my-ticket-header {display: none !important;}
.clsModifysearch:hover {color: #fff;}
#div_availviews .row.row10.udk-change-top {margin-top: 3%;}
div#dvlogorregbtn {border: none;}

/*#region To Buy My Tickets Font-color */

.to-buy-my-tickets .udk-font-12, .to-buy-my-tickets .eticket,
.to-buy-my-tickets .goog-te-gadget-simple .goog-te-menu-value span,
.to-buy-my-tickets .ui.primary.button.rightcurv a:hover, .to-buy-my-tickets .ui.button.leftcurv a:hover, .to-buy-my-tickets .click-arrow span,
.to-buy-my-tickets a.recent_sear:hover, .to-buy-my-tickets .clscityexchange i {color: #868080 !important;text-decoration: none;}
.to-buy-my-tickets .goog-te-gadget-simple, .to-buy-my-tickets a.recent_sear:hover, .to-buy-my-tickets a.eticket:hover {border: 1px solid #fff !important;}
.to-buy-my-tickets .ui.button.leftcurv {}
.to-buy-my-tickets .showselectaddtocart.availbutton.resbtn, .to-buy-my-tickets button#btnSubmitFlight, .to-buy-my-tickets .contbtn:hover, #btnclosepop {background: #f4b350;border: #f4b350;color: #fff;cursor:pointer;}
.to-buy-my-tickets .showselectaddtocart.availbutton.resbtn:hover, .to-buy-my-tickets .clsModifysearch:hover, .to-buy-my-tickets button#btnSubmitFlight:hover, 
.to-buy-my-tickets .contbtn, #btnclosepop:hover {background: #00458e;border: #00458e;}
.to-buy-my-tickets .tg-logo.clsdesklogo {display: none;}
.to-buy-my-tickets .udk-buy-my-ticket-header, .to-buy-my-tickets .udk-buy-my-ticket-header .tg-logo.clsdesklogo,
.to-buy-my-tickets .udk-currency-show, .to-buy-my-tickets .udk-language-show-left, .to-buy-my-tickets .tg-main-section.tg-haslayout, .to-buy-my-tickets .row.slider-offer, 
.to-buy-my-tickets .tg-home-slider {display: block !important;}
.to-buy-my-tickets .tg-header {}
.to-buy-my-tickets #google_translate_element_buy {position: absolute;}
.to-buy-my-tickets .udk-buy-my-ticket-header .tg-logo a img {}
.to-buy-my-tickets .tg-add-nav ul li a:after, .to-buy-my-tickets .tg-nav > .collapse > ul > li > a:after, .to-buy-my-tickets #scrolltop:hover, .to-buy-my-tickets #scrolltop, 
.to-buy-my-tickets .clscityexchange {background: #00458e !important;}
.to-buy-my-tickets .progress-bar-success {background-color: #5cb85c;}
.to-buy-my-tickets .tg-add-nav ul li a:after, .to-buy-my-tickets .tg-nav > .collapse > ul > li > a:after,
.to-buy-my-tickets .clspacktheem::after, .to-buy-my-tickets .sliderBottm, .to-buy-my-tickets .ui-slider .ui-slider-handle {background: #fff !important;cursor: pointer;border: 1px solid #ccc;}
#dvMainFilteration span.ui-slider-handle.ui-state-default.ui-corner-all::after {content: '';position: absolute;width: 14px;height: 14px;background: #00458e;border-radius: 50%;left: 3px;top: 3px;}
#dvMainFilteration .ui-slider-horizontal .ui-slider-range {top: 5px;height: 1px;background: #00458e;}
#dvMainFilteration .ui-slider .ui-slider-handle {box-shadow:none;width:22px;height:22px;top:-6px;}
.to-buy-my-tickets a.eticket:hover, .to-buy-my-tickets a.recent_sear:hover {color: #ffdf00;border: 1px solid #ffdf00;}
 #tg-home-slider .parallax-bg {background-image: url(../../Images/Bg/INR/bg-img.jpg) !important;background-size: auto !important;transform: translate3d(0px, 0%, 0px) !important;}
section.tg-main-section.tg-haslayout.udk-buy-my-add {/*padding: 16% 0px 0px!important;;*/}
.to-buy-my-tickets .tg-footerarea {width: 100%;float: left;background: url(../../images/theem/bg-footer.jpg) no-repeat;background-size: cover;}
.to-buy-my-tickets .searhsection {background: rgba(58, 43, 43, 0.74) !important;}
.to-buy-my-tickets .tg-logo.clsdesklogo a img {width:130px;}
.to-buy-my-tickets .segmentrowchckbox {padding: 2px !important;padding-left: 3px !important;position: relative;top: 5px;}
.to-buy-my-tickets .modcsscls {padding: 0 !important;background: none !important;border: none !important;}
.to-buy-my-tickets button#btnSubmitFlight {padding: 16px 8px !important;}
.to-buy-my-tickets .modspone {top: 1px;}
.to-buy-my-tickets .modspan {top: 2px;}
.to-buy-my-tickets #div_availviews .row.row10.udk-change-top {margin-top: 0%;}

@media (min-width: 768px) {.to-buy-my-tickets #main .clspositiontop {position: absolute;top: 40px;height: 200px;}}
.to-buy-my-tickets .clscityexchange {padding: 8px 8px !important;right: -15px;}
.to-buy-my-tickets .ClsPRLdetails {color: #00458e;}
/*#endregion */

.to-buy-my-tickets .origin-ic {top: 14px;}
#clsModifydiv #prefCarrier_chosen ul li span {color: #000;border-bottom: 1px solid #2973f0 !important;}
#clsModifydiv #prefCarrier_chosen ul li {color: #000;border-bottom: none !important;}
#prefCarrier_chosen input {border-bottom: 1px solid #fff !important;color: #fff;width: 136px !important;}
#prefCarrier_chosen .search-field input {width: 120px !important;}
#prefCarrier_chosen .search-field {width: 120px !important;}
#prefCarrier_chosen input.default {color: rgb(255, 255, 255) !important;cursor: pointer;}
#clsModifydiv #prefCarrier_chosen input.default {color: #000 !important;border-bottom: 1px solid #000 !important;}
.chosen-container.chosen-with-drop .chosen-drop {width: 260px;}
#clsModifydiv .searhsection {background: #fff !important;}
@media (max-width: 991px) and (min-width: 768px) {.to-buy-my-tickets button#btnSubmitFlight {padding: 19px 8px !important;}}
@media (max-width: 1200px) and (min-width: 992px) {.to-buy-my-tickets button#btnSubmitFlight {padding: 17.5px 7px !important;}}

.segmented-control > label:after, .segmented-control > label {color: #fff;}
span.ico-sticky {padding: 10px 9px;border-radius: 50%;position: fixed;right: 10px;background-color: #00458e;box-shadow: 0px 6px 10px #c5c5c5;cursor: pointer;z-index: 2;transition: 0.8s;}
span.ico-sticky.ico1 {top: 30%;}
span.ico-sticky.ico2 {top: 220px;}
span.ico-sticky.ico3 {top: 290px;}
span.ico-sticky.ico4 {top: 360px;}
span.ico-sticky:hover > img {-webkit-transform: scale3d(0.8,0.8,0.8);transform: scale3d(0.8,0.8,0.8);}
.con-flt-img {margin: 0;}
.spnbtnicon {border: 1px solid #fff;padding: 5px;border-radius: 50%;margin-left: 5px;}
.spnbtnicon i {color: #fff;font-size: 16px;}

@media (max-width:767px) {
    .tooltip-inner {display: none;}
    .tooltip-arrow {display: none;}
    .row-mob-0 {margin-right: -0px !important;margin-left: -0px !important;}
    .row-mob-5 {margin-right: -5px !important;margin-left: -5px !important;}
    .col-mob-5 {padding-right: 5px !important;padding-left: 5px !important;}
    .col-mob-10 {padding-right: 10px !important;padding-left: 10px !important;}
    .col-mob-15 {padding-right: 15px !important;padding-left: 15px !important;}
    .mobNoContainer {padding-left: 0 !important;padding-right: 0 !important;}
    .sort-by-section {padding: 0 !important;}
    .advancedsearchcls {margin-bottom: 10px !important;}
    #dvrightstckyIcons {padding: 5px;margin-top: 5px;float: left;}
    span.ico-sticky {padding: 10px !important;position: static;background-color: #545454;border-radius: 0;}
    span.ico-sticky img {width: 20px;}
    .clssorting span {font-size: 12px;}
    .clsAvailFiltericon {float: right;padding: 4px 9px !important;line-height: 30px !important;}
    #scrolls {right: 1px !important;bottom: 45px !important;width: 38px !important;height: 38px !important;}
    .listing-style3 .box, .listing-style3.box {margin-bottom: 2px !important;padding: 0px !important;padding-top: 10px !important;}
    .l-mob-hight {line-height: 20px !important;}
    .l-mob-hight img {width: 20px !important;height: 20px !important;}
    .l-mob-hight span {font-size: 12px;}
    .liclass_span P {margin: 0 0 0 0px !important;}
    .multiclassoptions {line-height: 13px !important;height: 25px !important;font-size: 10px !important;width: 100% !important;max-width: 100px;margin-top: 2px !important;padding: 2px !important;margin-left: 0px;}
    a.multiclassoptions {padding: 2px 10px !important;}
    .mob-mk-trc, .mob-price {margin-top: 3px;line-height: 26px;}
    .mob-mk-trc {margin-left: 5px;float: left !important;}
    .mob-price {position: absolute;right: 34%;border: 1px solid #03A9F4;border-radius: 4px;cursor: pointer;padding: 0px 2px;white-space: nowrap;background-color: #bda8a861;color: #2196F3;border-radius: unset;top: -1px;width: 59px;}
    .second-row .mob-selectbutton {width: 30% !important;height: 28px !important;line-height: 28px !important;margin: 2px !important;float: right;margin-right: 5px;padding: 0 !important;}
    .clsavailTimes {font-size: 16px !important;}
    .listing-style3 .price {font-size: 16px !important;z-index: 1;}
    .clsavail_dtls {position: absolute;z-index: 1;float: left !important;left: 0;}
    .clsAvailStops {position: absolute;margin-top: 3px !important;z-index: 2;line-height: 15px !important;padding: 2px 6px !important;}
    .clsAvailStopsbg, .amenities {height: 0 !important;margin: 0;margin-top: 0 !important;}
    .mob-bagg {position: absolute;margin-top: 2px !important;z-index: 1;line-height: 22px !important;padding: 0px 5px !important;left: 40%;white-space: nowrap;display: none !important;}
    .sectordetailscls .refund {font-weight: 500;position: absolute;margin-top: 2px !important;z-index: 1;line-height: 12px !important;padding: 3px 3px !important;left: 24%;}
    .fareruleclass {position: absolute;margin-top: 3px !important;z-index: 1;line-height: 15px !important;padding: 2px 6px !important;float: left;left: -180%;background: transparent;color: #333;font-size: 11px;}
    .mob-conn-flt {background-color: #cce1ff;color: #000;text-align: left !important;padding: 5px 0px;}
    .mob-conn-flt .mob-conn-mclass {margin-left: 5px;border: 1px dashed #333;padding: 1px 4px;border-radius: 4px;}
    .mob-conn-other {margin: 0 !important;}
    .mob-conn-bagg {margin: 20px 0px 0px 45px;float: left;position: absolute;margin-top: -90px;right: 25%;}
    .con-flt-img {float: left;}
    article.clsConnct_active .connectFlighTooltip {padding: 2% !important;}
    .amenities .cls_showearning {position: absolute;top: 4px;z-index: 1;right: 8%;background: transparent !important;color: #2CC185 !important;}
    ul.clsprevnxtFavail li {width: 33.33% !important;}
    .lblclsstopcal, .lblclsstopcal {font-size:10px !important;}
}

@media (max-width:400px) {.clsavalilcitydivid {width: 66% !important;left: 17% !important;}}

/*#endregion */

.cheap-fare-avail-sorting {position: fixed;width: 20%;float: right;height: 600px;top: 14%;right: -18.8%;}
.sky-tabs > input:checked + label span span, .lobibox.lobibox-warning .lobibox-header {background: #00458e !important;color: #fff;}
.simple-tab.color-1 .nav-tab-item.active, .simple-tab.color-1 .nav-tab-item:hover {border-top: 3px solid #2873f0 !important;}
#dvinterpackages{background-color: #f7f7f7;  }
#dvinterpackages h6{text-align: center;height: 38px;font-size: 19px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;text-align: center;color: rgba(0, 0, 0, 0.87);}
#dvinterpackages p{font-size: 16px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.88;letter-spacing: normal;text-align: justify;color: rgba(0, 0, 0, 0.86);}

/*Region Avail*/
.dvclsinnsersorthder {
    height: 35px;
    border-radius: 1px;
    background-color: #ffffff !important;
    line-height: 3 !important;
    text-transform: uppercase;
    font-size: 12px !important;
    margin-bottom: 10px;
}

.color {
    color: rgba(0, 0, 0, 0.86);
}

.imglogo {
    width: 17px;
    height: 17px;
}

.smlairlinename {
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.lbldeparrtimecls {
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000;
    padding-bottom: 2px;
}

.smlorgdestclass {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.86);
}

.dvclslineavail {
    border-top: 1px solid #eee;
}

.lblcslgrosamount {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000;
    padding-bottom: 2px;
}

.lbldurationcls {
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-align: center;
    padding-bottom: 2px;
}

.dvstpdot {
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 50%;
    border: 3px solid #d5d5d5;
    background: #fff;
}

.lblclsstopcal {
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    MARGIN-TOP: 5PX;
    TEXT-TRANSFORM: none;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.lblclsfltdetailscls {
    text-align: left;
    font-size: 11px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
    text-decoration: underline;
    letter-spacing: normal;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 0px;
}

label.lblclsfltdetailscls:hover {
    color: #00458e;
}

/***HARI**/
.side_leftrotate{-ms-writing-mode: tb-lr;-webkit-writing-mode: vertical-rl;-moz-writing-mode: vertical-rl;-ms-writing-mode: vertical-rl;writing-mode: vertical-lr;
-webkit-transform: rotate(-90deg);-webkit-transform-origin: 10px;-moz-transform: rotate(-90deg);-moz-transform-origin: 10px;-ms-transform: rotate(-90deg);-ms-transform-origin: 10px;
-o-transform: rotate(-90deg);-o-transform-origin: 10px;transform: rotate(-180deg);transform-origin: 10px;position: absolute;
background-color: #00458e;color: rgba(255, 255, 255, 0.9);height: 147px;width: 25px;border-radius: 0px 5px 5px 0px;font-size: 11px;text-align: center;font-weight: 500;
white-space: nowrap;overflow: hidden;padding: 6px 5px;letter-spacing: 1px;z-index:1;}

.ThemeColor {
    background-color: #00458e !important;color: #FFF !important;
}
.return-sec input[type="text"].scal:disabled {
    background: none !important
}
/*Endregion*/

.spnclsfilthideclass{
    float: right;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    text-transform:capitalize;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.86);
    margin: 0px 15px;
}

.shwclr {
    color:#00458e;
    font-weight:bold;
}

ui-datepicker ui-widget ui-widget-content notranslate ui-corner-all ui-datepicker-multi ui-datepicker-multi-2 {
    position: absolute;
    top: 161.438px;
    left: 689.234px;
    z-index: 1;
    display: block;
    width: 40em;
}

.ui-datepicker.ui-datepicker-multi {
    border-radius: 50%;
    margin-top: 4px;
    background: #ffffff !important;
    width: auto;
    z-index: 200 !important;
    padding: 0;
    border-top: 0px !important;
}

.ui-widget {
    font-size: 15px !important;
}

.ui-datepicker {
    background: #b23535;
    padding: 10px;
}

.ui-datepicker td {
    padding: 0px 2px;
    border: none;
    line-height: normal;
    border:0px !important; 
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 100%;
    background-color: #ffffff;
    color: #9b9998;
}

.ui-datepicker table {
    width: 100%;
    font-size: 13px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 0px solid #fcefa1;
    background: #fe7f23;
    color: #fff;
    border-radius: 50%;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 0px solid #aaaaaa;
    font-weight: normal;
    color: #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    width: 100%;
    height: 35px;
    margin: 0px;
    border: none;
    text-align: center;
    border-radius: 0%;
    background: #fff url(../Calenderimages/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
    font-weight: normal;
    color: #555555;
}
.ui-datepicker-calendar .ui-state-active {
    background: #b9b9b9;
    color: #fff;
}
.ui-widget-content a {
    color: #222222;
}

.ui-state-active {
    color: white !important;
    background-color:#f67b22 !important;
}
/*user agent stylesheet*/

.ui-widget-content {
    background: #fff/*{bgColorContent}*/ /*url(../Calenderimages/ui-bg_flat_75_ffffff_40x100.png)*//*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/!important;
    color: #222222;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
    color: #ff6600 !important;
}
.ui-datepicker .ui-datepicker-prev {
    text-align: center;
    left: 2px;
    top: 6px;
    cursor: pointer;
    color: #ff6600;
    font-weight: 600;
    font-weight: bold;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 9px !important;
    text-align: center;
    text-decoration: none;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {  
     background-image: none!important;
     height: 0px!important;
}
table thead tr th { 
    border-top: 0px !important;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0px 35px;
    border: none;
    line-height: 25px;
    text-align: center;
    background-color: white;
       font-size: 14px!important;
    font-weight: 600!important;
}
.ui-widget-header {   
    color: #767676!important/*{fcHeader}*/;
   
}

#ui-datepicker-div .ui-state-hover:hover {
    color: #fff !important;   
}

.ui-datepicker-calendar .ui-state-hover {
    color: #fff !important;
}

.cmnsignuperrormsg {
    color: red;
}

#modal-addtravel .cmnsignuperrormsg {
    position: absolute;
    left: 15px;
    bottom: -18px;
    font-size: 12px;
}

.clrgrn {
    color: green;
}

.changestyle {
    border: 0px solid #fff !important;
    border-bottom: 1px solid #777777 !important;
    background: transparent !important;
    padding: 11px 0 !important;
    color: #fff !important;
}

#MainFlightSearch .spnclscmnerrormsg{
    color :red !important
}

#dvFmofify .spnclscmnerrormsg{
    color :#fff !important
}

/*#region Webui-popover Start */
.webui-popover-stopclass .webui-popover-title {padding: 8px 8px;font-size: 10px;font-weight: 500;line-height: 10px;border-bottom: none;text-transform: capitalize;color: rgba(0, 0, 0, 0.6);text-align:center;}
.webui-popover-stopclass .webui-popover-content {display:none !important;}
.webui-popover.webui-popover-stopclass {min-height:25px;}
.webui-popover-stopclass.webui-popover{box-shadow: 0 1px 4px 0 rgba(212, 212, 212, 0.5) !important;}

.webui-popover.webui-popover-faredetails {box-shadow: 0 1px 4px 0 rgba(212, 212, 212, 0.5) !important;}
.webui-popover.webui-popover-faredetails .webui-popover-title {text-transform: capitalize;font-size: 13px;color: rgba(0, 0, 0, 0.6);font-weight: 600;padding: 8px 10px;border-bottom: 1px solid #efefef;}
.webui-popover.webui-popover-faredetails .webui-popover-content {padding:8px 10px;}

.webui-popover.webui-popover-roundtripfaredet {box-shadow: 0 1px 4px 0 rgba(212, 212, 212, 0.5) !important;width:250px !important;margin-left:-20px;}
.webui-popover.webui-popover-roundtripfaredet .webui-popover-title {text-transform: capitalize;font-size: 15px;color: #333;font-weight: 600;padding: 10px 10px;border-bottom: 1px solid #efefef;background:#f6f6f6;}
.webui-popover.webui-popover-roundtripfaredet .webui-popover-content {padding:0px;}

/*#endregion */



