@{
    ViewBag.Title = "PassInfo";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    String strProfilepath = Session["USER_PROFILE_PATH"] !=null ? Session["USER_PROFILE_PATH"].ToString() : "";
    String strUserName = Session["USER_NAME"] != null ? Session["USER_NAME"].ToString() : "";
}
<link href="~/Content/CSS/Main.css" rel="stylesheet" />
<link href="~/Content/CSS/Style.css" rel="stylesheet" />
<div class="container margin-top7 bg-f7fdfd" id="dvpasinfo">
    <div class="row">
        <div class="col-sm-3 clspassnav pad-0"id="dvPassList">
        </div>
        <div class="col-sm-9">

            <div class="tab-content" id="dvPassInfo">
            </div>
        </div>
    </div>
</div>


<script>



    function GetAvailability() {
    
        var AvailabilityURL = "@Url.Action("GetAvailability", "HomePage")";

        $.ajax({
            type: "POST",
            url: AvailabilityURL,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.status == "01") {
                    AvailBinding(JSON.parse(data.Result));
                }
                else {
                    swal({
                        text: data.Message,
                        icon: "error",
                        button: "Close",
                        dangerMode: true,
                    });
                }
            },
            error: function (ex) {

            }
        });
    }

    $(document).ready(function () {
        $("#spnUserName").html('@strUserName');
        GetAvailability();
    });

    function AvailBinding(data) {
        var stringBuilder = "";
        var passdescription = "";
        var passDetails = data.Temp;
        var passInfo = data.Temp1;

        stringBuilder += '<ul class="nav nav-tabs tabs-left" role="tablist">'
        $.each(passDetails, function (i, val) {
            var activeclass = i == 0 ? "active" : "";
            stringBuilder += '<li role="presentation" class="' + activeclass + ' clsNavTabactive"><a href="#' + val.T_P_ID + '" aria-controls="' + val.T_P_ID + '" role="tab" data-toggle="tab"><i class="fa fa-child m-r-2"></i>' + val.T_P_NAME + '</a></li>'

            passdescription += '<div role="tabpanel" class="tab-pane ' + activeclass + '" id="' + val.T_P_ID + '">'
            passdescription += '<div class="clsPasTitle">' + val.T_P_NAME + '</div>'
            passdescription += '<ul class="clsEligibleCriteria clsPasguidelist">'
            $.each(passInfo, function (i, value) {
                if (val.T_P_ID == value.T_P_ID) {
                    passdescription += '<li>'
                    passdescription += '<i class="fa fa-hand-o-right" aria-hidden="true"></i> <span>' + value.T_P_DESCRIPTION + '</span>'
                    passdescription += '</li>'
                }
            });
            passdescription += '</ul>'
            passdescription += '<div class="text-center margin-top3"><input type="button" class="btnreg clsproceed" data-amount="' + val.T_P_AMOUNT + '" data-id="' + val.T_P_ID + '" value="Proceed"></div>'
            passdescription += '</div>'
        })
        stringBuilder += '</ul>'

        $("#dvPassList").html(stringBuilder);
        $("#dvPassInfo").html(passdescription);
        $(".clsNavTabactive").click(function () {
            $(".clsNavTabactive").removeClass("active");
            $(this).addClass("active");
        });

        $(".clsproceed").click(function () {
            window.location.href = '@Url.Action("IssueNewPass", "HomePage")?type=' + $(this).data("id")+"&new=Y";
        });
    }
</script>